/*  Colors
        #252525 
        #747877
        #d2d6d8
    fonts    gotu regular
             abril fatface
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #252525 !important;
    color: #d2d6d8 !important;

}
body {
    background: #252525;
    color: #d2d6d8;
    font-family:fantasy;
}
h1, h2, h3 {
    font-family: 'Abril Fatface', cursive;
    color: #d2d6d8;
}
h4, h5, h6 {
    font-family: 'Gotu Regular', sans-serif;
    color: #d2d6d8;
}
.container {
    margin-top: 50px;
    background-color: #252525;
}
.row {
    margin-bottom: 30px;
    background-color: #252525;
}
.hero-bg {
    background-image: url('images/hero-image.jpg')  ;
}
.hero-image {
    background-image: url('images/hero-image.jpg');
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
.card_title {
    color: #d2d6d8;
    font-family: 'Abril Fatface', cursive;
}
.card_text {
    color: #d2d6d8;
    font-family: 'Cormorant Garamond', serif;
}